@import '../../assets/css/variables.scss' ;
@import '../../assets/css/mixins.scss' ;
.register__wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: -250px;
        top: 0;
        display: block;
        border: 1px solid #A6A6A6;
        width: 640px;
        height: 516px;
        z-index: 1;
        @include media-lg{
            border: none;
        }
    }
    .register__wrapper_left{
        max-width: 530px;
        width: 100%;
        @include media-lg{
            padding-left: 16px;
            padding-right: 16px;
        }
        h1{
            font-size: 64px;
            font-weight: 700;
            line-height: 60px;
            text-transform: uppercase;
            margin-bottom: 40px;
            @include media-lg{
                font-size: 46px;
                line-height: 43px;
            }
        }
        form{
            max-width: 426px;
        }
        .register__servBox{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .formLink{
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
        }
        .checkbox{
            position: relative;
            display: flex;
            align-items: center;
            margin: 40px 0;
            font-weight: 300;
            .checkbox__squre{
                background-color: #1e1e1e;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                cursor: pointer;
                margin-right: 12px;
            }
        }
        button[type='submit']{
            width: 100%;
        }
        .noAccount{
            margin-top: 16px;
            font-weight: 300;
            @include media-lg{
                font-size: 14px;
            }
            .noAccount__link{
                font-weight: 500;
                text-decoration: underline;
            }
        }
        .mark{
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 32px;
            
        }
    }
    .register__wrapper_right{
        @include media-lg{
            display: none;
        }
        img{
            position: relative;
            z-index: 2;
            top: 81px;
        }
        
       
        
    }
}