@import '../../assets/css/variables.scss' ;
@import '../../assets/css/mixins.scss' ;

.mainPage_carousel{
    position: relative;
    padding-top: 60px;

    .slick-slide{
      @include media-lg{
        margin: 0 16px; 
      }
      div{
        @include media-lg{
          text-align: center; 
        }
      }
      &:nth-child(even){
        margin-top: 0;
    }
      &:nth-child(odd){
          margin-top: 120px;
          @include media-lg{
            margin-top: 0; 
          }
      }
    }
    .slick-track{
      @include media-lg{
        display: flex;
      }
    }
    .unic__Item{
      max-width: 320px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin: 0 auto;
      img{
        width: 100%;
      }
      p{
         font-size: 32px;
         font-weight: 700;
         line-height: 30px; 
         padding: 40px 0 16px;
         @include media-lg{
            font-size: 24px;
            padding-top: 24px;
          }
      }
      div{
          line-height: 25px;
          font-size: 16px;
          margin-bottom: 24px;
          @include media-lg{
            margin-bottom: 16px;
          }
      }
      .moreBtn{
          border: 1px solid #1e1e1e;
          padding: 16px 44px;
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
          display: inline-block;
      }
      
    }
    .arrow{
      display: flex;
      align-items: center;
      justify-content:  center;
      position: absolute;
      z-index: 20;
      cursor: pointer;
      bottom: 0;
      right: 20px;
      width: 100px;
      height: 100px;
      text-align: center;
      margin-left: 17px;
      border: 1px solid #c7c7c7;
      @include media-lg{
        border: none;
        width: 30px;
        height: 30px;
      }
      &.prev{
        right: 117px;
        top: -150px;
        @include media-lg{
          left: 0px;
          top: 220px;
          margin: 0;
        }
      }
      &.next{
        right: 0;
        top: -150px;
        @include media-lg{
          right: 0px;
          top: 220px;
          margin: 0;
        }
      }
    }
    .slick-dots{
      top: 0;
      right: 0;
      width: 215px;
      display: flex!important;
      justify-content: space-between;
      @include media-lg{
        width: 100%;
        top: calc(100% + 40px );
      }

      li{
        flex: 1;
        max-width: 50%;
        width: auto;
        margin: 0;
        &.slick-active{
          button{
            background-color: #1e1e1e;
            padding: 0;
            height: 2px;
          }
        }
        button{
          width: 100%;
          height: 1px;
          padding: 0;
          background-color: #d9d9d9;
          &::before{
            display: none;
          }
        }
      }
    }
  }
  
  .product-slider{
    position: relative;
    @include media-lg{
      min-height: auto; 
    }
    .slick-slide{
      @include media-lg{
        margin: 0 28px; 
      }
      div{
        @include media-lg{
          text-align: left; 

        }
      }
    }
    .arrow{
      position: absolute;
      z-index: 20;
      cursor: pointer;
      bottom: 0;
      right: 20px;
      width: 17px;
      height: 30px;
      &.prev{
        left: -65px;
        top: 42%;
        @include media-lg{
          left: 3px;
          top: 280px;
        }
        img{
          @include media-lg{
            width: 12px;
          }
        }
      }
      &.next{
        right: -65px;
        top: 42%;
        @include media-lg{
          right: 3px;
          top: 290px;
        }
        img{
          @include media-lg{
            width: 12px;
          }
        }
      }
    }
    .slick-track{
      @include media-lg{
        display: flex;
      }
    }
    .slick-dots{
      display: flex!important;
      justify-content: space-between;
      
      li{
        flex: 1;
        max-width: 50%;
        width: auto;
        margin: 0;
        &.slick-active{
          button{
            background-color: #1e1e1e;
            padding: 0;
            height: 2px;
          }
        }
        button{
          width: 100%;
          height: 1px;
          padding: 0;
          background-color: #d9d9d9;
          &::before{
            display: none;
          }
        }
      }
    }
  }
  
  .homeSlickBaner{
    height: 522px;
    max-width: 730px;
    position: relative;
    top: 100px;
    width: 100%;
    @include media-lg{
      height: 464px;
      top: 0;
    }
    &::after{
      content: '';
      position: absolute;
      border: 1px solid #c7c7c7;
      width: 446px;
      height: 381px;
      display: block;
      top: -120px;
      right: -239px;
      z-index: -1;
    }
    .slick-track{
      display: flex;
      gap: 40px;
        @include media-lg{
          gap: 0;
      }
    }
    .slick-slide{
      .custom_slide{
        position: relative;
        transform: translateY(50px);
        width: 305px;
        height: 305px;
        overflow: hidden;
        transition: all .6s ease;
        z-index: 1;
        img{
          width: 100%;
          height: auto;
         
          transition: all .6s ease;
        }
        
      }
      .growSlide{
        position: relative;
        transform: translateY(0px);
        height: 519px;
        //width: 380px!important; 
        transition: all .6s ease;
        z-index: 2;
        @include media-lg{
         height: 364px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .6s ease;
        }
        
      }
    }
    .arrow{
      position: absolute;
      z-index: 20;
      cursor: pointer;
      bottom: 0;
      right: 20px;
      &.prev{
        right: 140px;
      }
    }
  }




  .productGallery{
    .image-gallery-thumbnail,.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left{
      width: 154px;
    }
    .image-gallery-thumbnails{
      overflow-y: auto;
    }
    .image-gallery-slide-wrapper{
      width: calc(100% - 164px)!important;
    }
    @include media-lg{
      display: flex;
    flex-direction: column-reverse;
    }
  }

