* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(143, 143, 143);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7dc6f8;
  border-radius: 10px;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
a{
  text-decoration: none;
  transition: all .3s ease;
  color: #1e1e1e;
}